#face{
height:100px;
}

.bizy { 
	
	background: #5D51FF; 
	/* border: 1px dashed #abab9a; */
	font-size: 20pt;
	/* color:#2c2c2c; */
	
}

.free{
background: #74FF70;
font-size: 20pt;
}

.headrow{
background: #1FA713;
font-size: 15pt;
}

.teaBreak{
background: #CCCCCC;
font-size: 20pt;
}